body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 100%; /* Full width on smaller screens */
    max-width: 800px; /* Maximum width for larger screens */
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0; /* Reduced padding */
    text-align: center;
    border-bottom: #bbb 1px solid;
}



.table-image {
    margin-bottom: 5%; /* Relative margin */
    width: 100%; /* Full width */
}

.table-image img {
    height: auto;
    max-width: 100%; /* Ensures image is not larger than its container */
    border: 1px solid #ddd;
    border-radius: 4px;
}

.table-image figcaption {
    margin-top: 1em; /* Relative unit for margin */
    font-weight: italic;
    color: #333;
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .container {
        width: 80%; /* Adjust width for larger screens */
    }

    header {
        padding-top: 30px; /* Original padding for larger screens */
    }
}
